.img-annonce {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 0.5em;
}

.annonce {
    display: flex;
    align-items: center;
    border: 1px solid rgb(0, 140, 255);
    margin: 0 2em 2em 0;
    padding: 1em;
}